.home{
    .columns_block{
        justify-content: space-between;
        @include bp(lg){
            justify-content: center;
        }
        .wp-block-column{
            flex-basis: auto !important;
            width: 40%;
            flex-grow: inherit;
            .wp-block-image{
                min-height: 114px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @include bp(md){
                margin: 0 0 3.5em
            }
            @include bp(lg){
                width: 24%;
                margin: 0 4% 3.5em;
                .wp-block-image{
                    width: 56%;
                    min-height: 160px;
                    margin: auto !important;
                }
            }
            h4{
                @extend .main-title;
                font-size: 17px;
                margin-top: .7em;
                text-align: center;
                @include bp(md){
                    font-size: 21px;
                    margin: 1em auto;
                }
            }
        }
    }
}