.footer{
    &-inner{
        width: 100%;
        max-width: 100%;
    }
    &-nav-widgets-wrapper{
        border: none;
    }
    &-widgets-outer-wrapper{
        border: none;
        position: relative;
        padding-top: 21rem;
        padding-bottom: 0;
        @include bp(md){
           padding-top: 4rem;
        }
        .column-one{
            .widget_custom_html{
                position: absolute;
                top: 0;
                width: 100%;
                padding: 2.1em 1em;
                border-top: 1px solid $green;
                border-bottom: 1px solid $green;
                background: $white;
                @include bp(md){
                    padding: 2.1em 7%
                }
                .contact_info{
                    @include bp(md){
                        display: flex;
                        justify-content: space-between;
                    }
                    &-mail,
                    &-phone,
                    &-address{
                        color: rgba($black, .8);
                        font-size: 15px;
                        letter-spacing: .5px;
                        display: block;
                        margin-bottom: 2.1em;
                        &::before{
                            content: '';
                            display: inline-block;
                            width: 17px;
                            height: 17px;
                            vertical-align: middle;
                            margin-right: .4em;
                        }
                        @include bp(md){
                            font-size: 18px;
                            margin-bottom: 0;
                            &::before{
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                    &-phone{
                        &::before{
                            background: url($images-path + 'icons/phone-icon.svg') no-repeat;
                            background-size: 100%;
                            vertical-align: bottom;
                        }
                    }
                    &-mail{
                        &::before{
                            background: url($images-path + 'icons/mail-icon.svg') no-repeat;
                            background-size: 100%;
                        }
                    }
                    &-address{
                        margin-bottom: 0;
                        &::before{
                            background: url($images-path + 'icons/site-icon.svg') no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }
        .column-two{
            @include bp(md){
                width: 42%;
                max-width: 600px;
            }
            .widget_text,
            .textwidget{
                height: 100%;
            }
            .diali-address{
                height: 300px;
                margin-top: 3.5em;
                @include bp(md){
                    height: 91%;
                }
            }
        }
    }
    &-copyright{
        font-weight: normal;
        font-size: 13px;
        letter-spacing: .5px;
    }   
}

#site-footer{
    background: rgba($gray, .1);
    padding: 2.8rem 0;
    .section-inner{
        align-items: center;
        flex-direction: column;
        @include bp(md){
            flex-direction: row;
        }
    }
    .top_networks{
        margin: 1.4em auto;
    }
    .custom-logo-link{
        width: 84%;
        margin: auto;
    }
}