.header{
    &-inner{
        @include bp(md){
            padding-top: 1.4rem;
        }
        .site-logo{
            width: 84%;
            @include bp(md){
                width: auto;
            }
        }
        .primary-menu{
            > li{
                margin: 0.8rem 0 0 4.9rem;
                > a{
                    color: $black;
                    letter-spacing: .5px;
                    text-decoration: none;
                }
                &.current-menu-item{
                    > a{
                        border-bottom: 3px solid $bluel;
                    }
                }
            }
            @include bp(md){
                ul.sub-menu{
                    color: $black;
                    background: $white;
                    box-shadow: 0 5px 14px rgba($black, .2);
                    &::after{
                        border-bottom-color: $white;
                    }
                }
            }
        }
    }
}

.menu-modal{
    .modal-menu{
        .menu-item a{
            font-weight: normal;
        }
    }
    .sf_top_bar{
        display: block;
        position: absolute;
        bottom: 7%;
        left: 50%;
        transform: translateX(-50%);
        width: 91%;
        .top_bar-mail,
        .top_bar-phone{
            display: block;
            margin: 0 0 1.4em;
        }
    }
}