.entry-content{
    .news_block-container{
        display: inline;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 0 0 1.4em 1.7em;
        margin-top: -5em;
        @include bp(lg){
            padding: 0;
            margin: 0;
            margin-left: -5em;
            overflow: inherit;
        }
    }
    .news_block-content{
        background: url($images-path + "bgs/news-bg.svg") no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0 1.4em 3.5em;
        text-align: center;
        .main-title{
            text-align: center;
        }
        .wp-block-button{
            margin: 1.4em auto;
        }
        @include bp(md){
            text-align: left;
            .main-title{
                text-align: left;
            }
            .wp-block-button{
                margin: 1.4em 0;
            }
        }
        @include bp(lg){
            max-width: 580px;
            padding: 2.1em 3.5em 4.2em;
            .wp-block-group{
                padding-right: 2em;
            }
        }
    }
}

.news_block{
    width: 77%;
    padding: 0 0.7em 1.4em;
    text-align: right;
    background: $white;
    position: relative;
    margin-right: 3em;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    &:last-child{
        margin-right: 1.7em;
    }
    @include bp(md){
        width: 29.7%;
        margin-right: 4.2%;
        &:last-child{
            margin-right: 0;
        }
    }
    &::after{
        content: '';
        width: 100%;
        height: 97.3%;
        border: 1px solid $bluel;
        left: 0;
        top: 2.8%;
        position: absolute;
    }
    img{
        max-width: inherit;
        width: calc(100% + 2.4em);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        // height: 240px;
        // object-fit: cover;
        // @include bp(md){
        //     height: 256px;
        // }
    }
    &-category{
        color: $magenta;
        font-family: $robr;
        font-size: 16px;
        margin: .5em 0 0;
        text-align: left;
    }
    &-title{
        font-family: $robr !important;
        font-size: 20px;
        font-weight: normal;
        margin: .7em 0 2.1em !important;
        text-align: left;
        min-height: 50px;
        + p{
            display: none;
            text-align: left;
            font-size: 15px;
        }
    }
    .read-more{
        margin-right: .5em;
        z-index: 2;
    }
}


.news_container{
    width: 100% !important;
    @include bp(md){
        width: 91% !important;
        // max-width: 120rem !important;
    }
    .wp-block-column{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include bp(md){
            justify-content: center;
        }
        .news_block{
            margin: 0 auto 2.1em;
            width: 84%;
            @include bp(md){
                width: 24%;
                margin: 0 2.8% 2.1em;
            }
            &-title{
                margin: .7em 0 1.4em !important;
            }
            &-featured{
                order: -1;
                width: 100%;
                @include bp(md){
                    display: flex;
                    align-items: center;
                    padding: 0 .7em;
                    margin: 0 auto 2.1em;
                    img{
                        left: -1.4em;
                        width: 42%;
                        transform: none;
                    }
                    &::after{
                        height: 94%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                @include bp(lg){
                    width: 77%;
                    margin-top: 4em;
                }
                .news_block{
                    &-title{
                        + p{
                            display: block;
                        }
                        @include bp(md){
                            margin: .7em 0 !important;
                            min-height: auto;
                        }
                        @include bp(lg){
                            font-size: 24px;
                            + p{
                                margin-bottom: 2.1em;
                            }
                        }
                    }
                    &-info{
                        @include bp(md){
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
}