.home{
    .section_block{
        &.wp-block-group.alignfull,
        &.wp-block-columns.alignfull{
            margin: 3.5em auto 0;
            padding: 0 1.4em;
            @include bp(lg){
                margin: 5.6em auto 0;
            }
        }
        &-solutions{
            .main-title{
                text-align: center;
            }
        }
        &-news{
            &.wp-block-columns.alignfull{
                padding: 0;
                @include bp(lg){
                    margin: 2.8em auto 0;
                }
            }
            .wp-block-column:not(:only-child){
                @include bp(md){
                    flex-basis: auto !important;
                }
            }
        }
    }
}