.sf_top_bar{
    display: none;
    @include bp(md){
        display: flex;
        justify-content: flex-end;
        max-width: 168rem;
        width: calc(100% - 8rem);
        margin: auto;
        padding: .5em 0 0;
        align-items: center;
        .top_networks{
            margin-left: 1.4em;
            a{
                width: 30px;
                height: 30px;
            }
        }
    }
}