*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    color: $black;
    font-family: $robr;
    background: $white;
}
a{
    text-decoration: none !important;
    color: inherit;
}
p{
    letter-spacing: 1px;
}
button{
    outline: none;
}
ul{
    list-style: none;
    padding: 0;
}
img{
    max-width: 100%;
}
.hide-desktop{
    @include bp('md'){
        display: none;
    }
}
.container{
    width: 91%;
    max-width: 1280px;
    margin: auto;
}
.entry-header{
    display: none;
}
.entry-content{
    font-family: $robl;
    letter-spacing: .6px;
}
.frame_decor{
    display: inline-block;
    position: relative;
    &::before{
        content: '';
        width: 91%;
        height: 100%;
        border: 2px solid $bluel;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        @include bp(md){
            width: 100%;
            left: 5%;
            transform: none;
        }
    }
    &--green{
        &::before{
            border-color: $green;
        }
    }
    &--left{
        &::before{
            @include bp(md){
                left: -5%;
            }
        }
    }
}



// RESET

.entry-content > .alignwide:not(.wp-block-group.has-background),
.entry-content > .alignfull:not(.wp-block-group.has-background){
    margin: auto;
}
.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns{
    padding: 0;
}

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide){
    max-width: 120rem;
    // width: 120rem;
}
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter){
    margin: 0;
}