// @import "../common/variables";
// @import "../common/mixins";//mixins

$rslabl: 'RobotoSlab-Light';
$rlight: 'Roboto-Light';
$rregular: 'Roboto-Regular';


@mixin fontface($nameFont, $path, $weight){
	@font-face {
	    font-family: "#{$nameFont}";
	    src:    url('../fonts/' + $path + '.eot?#iefix') format('embedded-opentype'), 
	            //url('../fonts/'+ $path + '.otf') format('opentype'), 
	            url('../fonts/' + $path + '.woff') format('woff'), 
	            url('../fonts/' + $path + '.woff2') format('woff2'), 
	            url('../fonts/' + $path + '.ttf') format('truetype');
	    font-weight: $weight;
	    font-style: normal;
	}
}
@include fontface ($rslabl, RobotoSlab-Light, 300);
@include fontface ($rlight, Roboto-Light, 300);
@include fontface ($rregular, Roboto-Regular, normal);