
$images-path: "../images/";

// Colors
$black: #474747;
$gray: #BFBFBF;
$white: #fff;
$blue: #0057B7;
$bluel: #2CD5CA;
$green: #70D44B;
$yellow: #FFB549;
$magenta: #D50057;

//FONTS

$slabl: 'RobotoSlab-Light';
$robl: 'Roboto-Light';
$robr: 'Roboto-Regular';



