.main-btn{
    font-family: $robr;
    background: $magenta;
    border-radius: 42px;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 20px 2.1em;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    font-family: $robr;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: all .4s;
    a{
        padding: 0;
        font-size: 14px;
        text-decoration: none;
        line-height: 0;
        font-weight: normal;
        font-family: $robr;
        text-transform: none;
    }
    &:hover{
        background: lighten($magenta, 3%);
        box-shadow: 0 4px 14px rgba($magenta, .4);
    }
    @include bp(lg){
        font-size: 17px;
        min-width: 200px;
        a{
            font-size: 17px;
        }
    }
    &--border{
        background: none;
        border: 2px solid $magenta;
        color: $magenta;
        a{
            color: $magenta !important;
        }
        &:hover{
            color: $white;
            a{
                color: $white !important;
            }
        }
    }
}

.top_networks{
    display: flex;
    a{
        width: 42px;
        height: 42px;
        color: transparent;
        margin: 0 .4em;
    }
    &-twitter{
        background: url($images-path + 'icons/twitter-icon.svg') no-repeat;
        background-size: cover;
    }
    &-instagram{
        background: url($images-path + 'icons/instagram-icon.svg') no-repeat;
        background-size: cover;
    }
    &-linkedin{
        background: url($images-path + 'icons/linkedin-icon.svg') no-repeat;
        background-size: cover;
    }
}

.top_bar{
    &-mail,
    &-phone{
        color: rgba($black, .8);
        font-size: 14px;
        letter-spacing: .5px;
        &:not(:last-of-type){
            margin-right: 2.8em;
        }
        &::before{
            content: '';
            display: inline-block;
            width: 17px;
            height: 17px;
            vertical-align: middle;
            margin-right: .4em;
        }
    }
    &-phone{
        &::before{
            background: url($images-path + 'icons/phone-icon.svg') no-repeat;
            background-size: 100%;
            vertical-align: bottom;
        }
    }
    &-mail{
        &::before{
            background: url($images-path + 'icons/mail-icon.svg') no-repeat;
            background-size: 100%;
        }
    }
}

.nav-toggle{
    .toggle-inner{
        padding: 0;
    }
    .toggle-icon{
        width: 27px;
        height: 27px;
        background: url($images-path + 'icons/menu-icon.svg') no-repeat;
        background-size: 100%;
        svg{
            display: none;
        }
    }
    .toggle-text{
        display: none;
    }
}
button.close-nav-toggle{
    svg{
        height: 24px;
        width: 24px;
        polygon{
            fill: $magenta;
        }
    }
    .toggle-text{
        display: none;
    }
}
button.sub-menu-toggle{
    polygon{
        fill: $magenta;
    }
}
.primary-menu{
    .icon::before,
    .icon::after{
        background: $magenta;
    }
}

.read-more{
    position: relative;
    font-family: $robr;
    font-size: 16px;
    &::after{
        content: '';
        display: inline-block;
        width: 18px;
        height: 14px;
        background: url($images-path + 'icons/arrow-more.svg') no-repeat;
        background-position: center;
        background-size: contain;
        margin-left: .5em;
        position: relative;
        right: 0;
        transition: all .4s;
    }
    &:hover{
        &::after{
            right: -.5em;
        }
    }
}