input{
    &[type='text'],
    &[type='email'],
    &[type='tel']{
        border: 1px solid $gray;
        border-radius: 7px;
        font-family: $robr;
        margin-top: .5em;
        &:focus{
            border-color: $blue;
            outline: none;
        }
    }
    &.send-btn{
        @extend .main-btn;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        margin: 1.4em 0 0;
        &:hover{
            text-decoration: none;
        }
        @include bp(md){
            transform: none;
            left: 66%;
        }
    }
}
textarea,
select{
    border: 1px solid $gray;
    border-radius: 7px;
    font-family: $robr;
    margin-top: .5em;
    width: 100%;
    padding: 1.2rem 1.8rem;
    &:focus{
        border-color: $blue;
        outline: none;
    }
}
label{
    font-family: $robr;
    margin-bottom: .7em;
}
.wpcf7-not-valid-tip{
    color: #ec5656;
    font-size: 14px;
}