.main-title{
    font-family: $slabl;
    font-size: 35px;
    font-weight: normal;
    text-align: left;
    width: 91%;
    margin-top: 0;
    span{
        color: $magenta;
    }
    @include bp(md){
        font-size: 49px;
    }
}

.entry-content{
    h2{
        @extend .main-title;
        @include bp(md){
            margin-bottom: 1.4em;
        }
    }
}