.page-id-13{
    .entry-content{
        .about{
            &_intro{
                margin: 3.5em auto;
                @include bp(lg){
                    max-width: 100rem !important;
                    margin: 4.2em auto;
                }
            }
            &_threeColumns{
                margin-bottom: 3.5em !important;
                .wp-block-column{
                    margin-bottom: .7em;
                }
                @include bp(md){
                    justify-content: space-between;
                    .wp-block-column{
                        width: 33%;
                        margin: 0;
                        flex-basis: auto !important;
                        flex-grow: inherit;
                        img{
                            width: 100%;
                        }
                    }
                }
                @include bp(lg){
                    margin-bottom: 4.2em !important;
                }
            }
            &_twoColumns{
                margin-bottom: 3.5em !important;
                h5{
                    @extend .main-title;
                    font-size: 28px;
                    color: $green;
                }
                @include bp(md){
                    h5{
                        font-size: 42px;
                    }
                }
                @include bp(lg){
                    margin-bottom: 4.2em !important;
                }
            }
            &_data{
                background: url($images-path + "bgs/about-bg.svg") no-repeat;
                background-size: cover;
                background-position: center;
                padding: 2.1em 0;
                p{
                    margin: 0;
                }
                &-title{
                    font-size: 42px;
                    font-family: $slabl;
                    color: $white;
                    font-weight: bold;
                }
                @include bp(md){
                    justify-content: space-between;
                    &-title{
                        font-size: 49px;
                    }
                    .wp-block-column{
                        width: 33%;
                        margin: 0;
                        flex-basis: auto !important;
                        flex-grow: inherit;
                    }
                }
                @include bp(lg){
                    justify-content: space-evenly;
                    .wp-block-column{
                        width: 25%;
                    }
                }
            }
        }
    }
}