.contact-form{
    padding: 0 1em;
    @include bp(md){
        &.widget{
            padding: 4.1em 0;
            max-width: 600px;
            margin-left: auto
        }
    }
    h2{
        @extend .main-title;
    }
    form{
        @include bp(md){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .subject-input,
            .name-input,
            .email-input,
            .phone-input{
                width: 47%;
            }
            .msg-input{
                width: 100%;
            }
        }
    }
}