.hero_block{
    min-height: 268px;
    max-height: 268px;
    img{
        &.wp-block-cover.wp-block-cover__image-background{
            height: 91%;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .wp-block-cover__inner-container{
        width: 91%;
        background: $white;
        border-radius: 21px;
        color: $magenta;
        font-family: $slabl;
        font-size: 21px;
        position: absolute;
        bottom: -35px;
        max-width: 700px;
        @include bp(lg){
            font-size: 37px;
            bottom: -42px;
            border-radius: 28px;
            width: auto;
            padding: .5em 1.4em;
            max-width: inherit;
            p.has-large-font-size{
                max-width: inherit !important;
            }
        }
    }
    &--home{
        margin-bottom: 0;
        &.wp-block-cover{
            .wp-block-cover__image-background{
                height: 84%;
                width: auto;
                left: 9%;
                transform: translateX(-50%);
                @include bp(md){
                    left: 0;
                    transform: none;
                    width: 100%;
                    height: 80%;
                }
            }

        }
        .wp-block-cover__inner-container{
            width: 98%;
            .wp-block-columns{
                padding: 0;
            }
        }
        .hero_block{
            &--columns{
                margin-bottom: 0;
                .wp-block-image{
                    margin-bottom: 0 !important;
                }
            }
            &--column{
                margin-bottom: 0;
                h2{
                    @extend .main-title;
                    font-size: 47px;
                    text-align: left;
                    margin: 1em auto 0;
                    width: 100%;
                }
                @include bp(md){
                    align-self: flex-start;
                    h2{
                        margin-top: 0;
                    }
                }
                @include bp(lg){
                    h2{
                        margin-top: 1em;
                        font-size: 77px;
                        padding-left: 14%;
                        max-width: 600px;
                        margin-left: 0;
                    }
                    .wp-block-buttons{
                        padding-left: 14%;
                    }
                }
            }
            &--image{
                &.wp-block-image{
                    min-width: 370px;
                    position: relative;
                    right: -7%;
                    @include bp(md){
                        margin-top: -7% !important;
                        width: 130%;
                        max-width: 840px;
                        right: 0;
                    }
                }
            }
        }
    }
}