.single-noticia,
.single-servicio{
    .entry-content{
        .news{
            &_hero{
                width: 100% !important;
                @include bp(lg){
                    display: flex;
                    align-items: center;
                    max-width: inherit !important;
                    justify-content: flex-end;
                }
                &-img{
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 94%;
                        height: 100%;
                        border: 2px solid $bluel;
                        top: 3%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    @include bp(lg){
                        order: 2;
                        width: 60%;
                        max-width: 600px;
                        &::before{
                            width: 100%;
                            left: -4%;
                            top: 4%;
                            transform: none;
                        }
                    }
                }
                &-info{
                    margin-bottom: 3.5em;
                    @include bp(lg){
                        width: 49%;
                        max-width: 770px;
                        margin-right: 4%;
                        padding: 1em 0 1em;
                        position: relative;
                        // right: -3em;
                    }
                }
                &-title{
                    color: $magenta;
                    font-family: $slabl;
                    font-size: 24px;
                    letter-spacing: normal;
                    font-weight: normal;
                    width: 91%;
                    margin: 1.4em auto .7em;
                    @include bp(lg){
                        font-size: 35px;
                        padding-right: 1.4em;
                    }
                }
                &-intro{
                    font-size: 19px;
                    width: 91%;
                    margin: auto;
                    letter-spacing: 1px;
                    a{
                        color: $magenta;
                    }
                }
            }
            &_mainContent{
                width: 91%;
                margin: auto;
                letter-spacing: 1px;
                a{
                    color: $magenta;
                }
                strong{
                    font-family: $robr;
                    font-size: 19px;
                }
                @include bp(lg){
                    max-width: 98rem !important;
                    font-size: 18px;
                    margin-top: 7%;
                    strong{
                        font-size: 21px
                    }
                }
            }
            &_related{
                h3{
                    @extend .main-title;
                }
                .news_block-container{
                    display: inline-block;
                    margin-top: 0;
                }
                @include bp(lg){
                    max-width: 98rem !important;
                    margin: 7% auto 0;
                    h3{
                        text-align: center;
                    }
                    .news_block-container{
                        margin: auto;
                    }
                }
            }
        }
    }
    .pagination-single{
        display: none;
    }
}