.single-servicio{
    .entry-content{
        .services{
            &_mainContent{
                margin-bottom: 3.5em;
                &-text{
                    margin-top: 2.1em;
                    strong{
                        font-family: $slabl;
                        font-size: 21px;
                    }
                    li{
                        margin-bottom: 1em;
                        position: relative;
                        &::before{
                            content: '';
                            width: 11px;
                            height: 14px;
                            background: url($images-path + 'icons/list-icon.svg') no-repeat;
                            background-size: contain;
                            position: absolute;
                            margin-right: .5em;
                            left: -21px;
                            top: .2em;
                        }
                    }
                }
                @include bp(lg){
                    width: 100% !important;
                    max-width: inherit !important;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 4.2em;
                    margin-bottom: 6.3em;
                    &-text{
                        margin-top: 0;
                        width: 56%;
                        max-width: 650px;
                        margin-left: 7%;
                        strong{
                            font-size: 24px;
                        }
                        ul{
                            margin: 0;
                        }
                        li{
                            font-size: 18px;
                        }
                    }
                    &-img{
                        margin-left: -5%;
                    }
                }
            }
            &_banner{
                width: 100% !important;
                padding: 2.8em 1em;
                position: relative;
                margin-bottom: 4em;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: url($images-path + 'bgs/decor-banner-services.svg') no-repeat;
                    left: 0;
                    bottom: 0;
                    background-position: 42% 0;
                    opacity: .5;
                    @include bp(lg){
                        background-size: cover;
                    }
                }
                &.Azul-claro{
                    background: $bluel;
                }
                &.Naranja{
                    background: $yellow;
                }
                &.verde{
                    background: $green;
                }
                &-text{
                    position: relative;
                    font-family: $slabl;
                    font-size: 28px;
                    color: $white;
                    margin-bottom: 1.4em;
                    max-width: 630px;
                }
                &-imgs{
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    margin: 0 -6%;
                    img{
                        width: 63%;
                        margin-left: -18%;
                        @include bp(md){
                            margin-left: -6%;
                        }
                        &:last-child{
                            margin-left: 6%;
                            margin-bottom: -7em;
                        }
                    }
                }
                @include bp(lg){
                    max-width: inherit !important;
                    display: flex;
                    justify-content: flex-end;
                    padding: 0;
                    align-items: center;
                    margin-bottom: 7em;
                    &-text{
                        font-size: 35px;
                        margin-bottom: 0;
                    }
                    &-imgs{
                        margin: 0;
                        justify-content: flex-end;
                        width: 44%;
                        img{
                            width: auto;
                            margin: 0;
                            position: relative;
                            top: -8em;
                            &:last-child{
                                margin: 0;
                                order: -1;
                                top: auto;
                                bottom: -7.5em;
                                left: 6em;
                            }
                        }
                    }
                }
            }
        }
    }
}