.why_us{
    padding: 0;
    .wp-block-image{
        img{
            height: 280px;
            width: 100%;
            object-fit: cover;
            @include bp(md){
                height: auto;
            }
        }
    }
    &-column{
        p{
            padding: 0 1.4em;
            max-width: 600px;
            @include bp(md){
                &:last-of-type{
                    margin-bottom: 3.5em;
                }
            }
        }
        &.wp-block-column{
            @include bp(lg){
                &:last-child{
                    margin-left: -7%;
                    margin-top: 2.8em;
                }
            }
        }
    }
}